* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: helvetica;
}
a {
    color: #365899;
}
a:hover {
    text-decoration: underline;
}
input {
    outline: none;
}

.container {
    height: 100%;
    max-width: 980px;
    margin: auto;
    display: flex;
}

#menuTop {
    height: 82px;
    width: 100%;
    min-width: 1020px;
    background-image: linear-gradient(to bottom, #4E69A2, #3B5998, #3B5998);
    border-bottom: 1px solid #4E69A2;
    color: white;
}
#containerMenu {
    justify-content: space-between;
    align-items: center;
}
#logo {
    font-size: 40px;
    font-weight: bold;
    margin-top: 17px;
}
#inputs {
    display: flex;
    margin-top: 6px;
}
#email {
    margin-right: 14px;
}
#senha {
    
}
.inputTitle {
    font-size: 12px;
}
#esqueceu {
    font-size: 12px;
    color: #9CB4D8;
    margin-top: 3px;
}
.inputMenuTop {
    margin-top: 6px;
    padding: 3px;
    height: 16px;
    width: 148px;
    border: 1px solid #1D2A5B;
}
#entrar {
    margin-top: 21px;
}
#submitMenuTop {
    margin-left: 14px;
    height: 24px;
    width: 47px;
    background-color: #4267B2;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 2px;
    border: 1px solid #29487D;
    border-radius: 2px;
}

#mainContent {
    min-width: 1020px;
    background-image: linear-gradient(to bottom, #FFFFFF, #D3D8E8);
}
#leftSide {
    flex: 1;
}
#imgDescription {
    margin-top: 42px;
    margin-right: 100px;
    color: #0E385F;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
}
#rightSide {
    flex: 1;
    margin-top: 19px;
    margin-left: 49px;
}
#righsideTitle {
    font-size: 36px;
    font-weight: bold;
}
.righsideSubTitle {
    font-size: 18px;
    margin-top: 7px;
}
form {
    margin-top: 19px;
}
.formInput {
    height: 18px;
    border: 1px solid #BDC7D8;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}
.formInput::placeholder {
    color: #999999;
    font-size: 18px;
}
.formInputSmall {
    width: 172px;
}
.formInputLarge {
    width: 380px;
    
}
select {
    padding: 5px;
    border: 1px solid #BDC7D8;
}
#selectDate {
    display: flex;
    align-items: center;
}
.formDescription {
    font-size: 11px;
    color: #777777;
}
#formDescriptionNascimento {
    margin-left: 10px;
}
#formDescriptionTermos {
    margin-right: 100px;
}
#sex {
    margin-top: 15px;
    margin-bottom: 15px;
}
#sex input {
    margin-left: 15px;
}
#inscrevase {
    margin-top: 20px;
    background-image: linear-gradient(to bottom, #67AC55, #598B45);
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px 1px 3px #333;
    color:white;
    padding: 7px 46px 7px 46px;
    border: 1px solid #3B6E22;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px #a4e388;
}
#criarPagina {
    font-size: 13px;
    font-weight: bold;
    color: #666666;
    margin-top: 40px;
    margin-bottom: 50px;
}

#linksContainer {
    flex-direction: column;
    font-size: 12px;
    color: #737373;
}
#linksContainer ul li {
    display: inline-block;
}
#languages {
    margin-top: 30px;
    margin-bottom: 10px;
}
#languages ul li {
    margin-right: 7px;
}
#button {
    padding: 0 9px;;
    background-color: #F5F6F7;
    border: 1px solid #CCD0D5;
    border-radius: 2px;
    color: #626978;
    font-size: 14px;
    font-weight: bold;
    font-family: inherit;
}
#button:hover {
    text-decoration: none;
    background-color: #EBEDF0;
}
hr {
    background-color: #DDDFE2; 
    height: 1px; 
    border: 0;
    margin-bottom: 10px;
}
#links {
    margin-bottom: 10px;
}
#links ul li {
    margin-right: 17px;
    margin-bottom: 5px;
}
#caralivro {
    font-size: 11px;
    margin-bottom: 20px;
}