* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: helvetica;
}

body {
    height: 1000px;
}

#menuTop {
    height: 82px;
    width: 100%;
    background-image: linear-gradient(to bottom, #4E69A2, #3B5998, #3B5998);
    border-bottom: 1px solid #4E69A2;
    color: white;
}

.container {
    height: 100%;
    max-width: 980px;
    margin: auto;
    display: flex;
}
#containerMenu {
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 40px;
    font-weight: bold;
    margin-top: 17px;
}

#inputs {
    display: flex;
    margin-top: 6px;
}
#email {
    margin-right: 14px;
}
#senha {
    
}
.inputTitle {
    font-size: 12px;
}
#esqueceu {
    font-size: 12px;
    color: #9CB4D8;
    margin-top: 3px;
}
.inputMenuTop {
    margin-top: 6px;
    padding: 3px;
    height: 16px;
    width: 148px;
    border: 1px solid #1D2A5B;
}
#entrar {
    margin-top: 21px;
}
#submitMenuTop {
    margin-left: 14px;
    height: 24px;
    width: 47px;
    background-color: #4267B2;
    color: white;
    font-weight: bold;
    font-size: 12px;
    padding: 2px;
    border: 1px solid #29487D;
    border-radius: 2px;
}

#mainContent {
    background-image: linear-gradient(to bottom, #FFFFFF, #D3D8E8);
}
#leftSide {
    flex: 1;
}
#imgDescription {
    margin-top: 42px;
    margin-right: 100px;
    color: #0E385F;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
}

#rightSide {
    flex: 1;
    margin-top: 19px;
    margin-left: 49px;
}
#righsideTitle {
    font-size: 36px;
    font-weight: bold;
}
#righsideSubTitle {
    font-size: 18px;
    margin-top: 7px;
}